.social-media img{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	float: left;
	margin-left: 10px;
}
header {
	background-color: #A70230;
	color: white;
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0px;
}
.services{
	height: 400px;
	width: 30%;
	float: left;
	margin-left: 30px;
	text-align: center;
}
.services h2{
	clear: left;
	text-align: center;
}
.testimonies{
  height: 550px;
  width: 100%;
}
.testimonies img{
  border-radius: 50%;
  height: 200px;
  width: 20%;
  margin-left: 550px;
  margin-top: 100px;
  float: center;
  align-items: center;
} 
.testy-text{
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 10px;
  text-align: center;
}
.navigation-panel{
	display: flex;
	justify-content: space-between;
}
.align-words{
  color: red;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}
.align-words2{
  font-size: 20px;
  text-align: center;
}
.div-banner1{
  width: 100%;
  float: right;
  height: 400px;
}
ul{
	float: right;
	display: inline-block;
	list-style-type: none;
	margin-top: 30px;
	padding: 0;
	overflow: hidden;
	margin-right: 0;
	width: 100%;
}
li {
	float: left; 
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	color: yellow;
}
.img1{
	height: 100px;
	width: 10%;
	float: left;
}
.float{
	float: left;
}
.footer-units{
	float: left;
	width:  22%;
	padding-top: 50px;
}
.Company-logo{  
	float: left;
	margin-left: 50px;
	margin-top: 100px;
	width: 30%;
}
.Company-name{
	float: left;
	margin-left: 50px;
	font-size: 40px;
}
.hamburg-icon{
	height: 25px;
	width: 25px;
	margin-top: 25px;
	color: white;
	border-radius: 20%;
	display: none;
	float: right;
}
.float509{
	margin-top: 0px;
}
.div1{
	background-image: url(akoom9.jpg);
	width: 100%;
	height: 500px; 
}
body{
	background-color: black;
	color: white;
	margin: 0px;
	padding: 0px;
} 
.div2{
	padding-left: 100px;
	width: 25%;
	font-family: arial;
	color: red;
	font-size: 70px;
}
.div3{
	margin-left: 100px;
	margin-right: 350px;
	font-size: 20px;
	color: white;
	font-family: arial;
}
.who-we-are{
	width: 100%;
	color:  #A70230;
}

.div4{
	margin-top: 100px;
	font-size: 40px;
	text-align: center;
	color:  #A70230; 
}
.div5{
	background-color: rgba(00,00,11,0.5,);
	width: 100%;
	height: 300px;
}
.img2{
	height: 300px;
	width: 100%; 
}
.mobile_menu {
	position: absolute;
	right: 10px;
	width: 96%;
	z-index: 99;
}
.div7{
	height: 500px;
	width: 100%;
	background-color: lightgrey;
	color: black;
}
footer{
	background-color: #A70230;
	color: white;
	height: 350px;
	width: 100%;
	max-width: 100%;
	max-height: 350px;
	min-width: 48px;
	min-height: 48px;
}
.img20{
	height: 600px;
	width: 100%;
	background-color: rgba(115,11,60,0.7);
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-top: 90px; 
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.trusted-caption{
	width: 40%;
	float: left;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 25px;
	top: 0;
}
/**  mobile screen  **/
/*@media screen and (max-width: 728px) {

ul{
	flex-direction: column;
	align-items: flex-start;
	background-color: black;
	width: 100px;
	margin-left: 200px;
	}

li a {
	font-size: 20px;
}


.Company-name h1{
	float: left;
	margin-right: 100px;
	margin-left: 50px;
	font-size: 25px;
}

.hamburg-icon{
	height: 50px;
	width: 50px;
	margin-top: 25px;
	display: block;
	background-color: white;
	border-radius: 20%;
}

}

/** End of mobile Screen  **/
@media only screen and (max-width: 650px) {
.services{
	width: 100%;
}
.footer-units{
	width:  100%;
	text-align: center;
}
.Company-logo{  
	width: 100%;
}
ul{
	flex-direction: column;
	align-items: flex-start;
	background-color:  #A70230;
	width: 50%;
	}

li a {
	font-size: 20px;
	color: white;
}


.hamburg-icon{
	height: 25px;
	width: 25px;
	margin-top: 25px;
	display: block;
	border-radius: 20%;
	position: absolute;
	top: 0;
	margin-bottom: 100px;
	right: 5px;
}
footer{
	height: auto;
}
.social-media {
	width: 100%;
	align-items: center;
	justify-content: center;
}

}